body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f0f8f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 35px;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    outline: none;
}

.tab-button.active {
    background: #0056b3;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #f4f4f4;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.highlight {
    color: blue;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.btn-primary:hover {
    background-color: #4276a7;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 20px;
    color: #7a7a7a;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

.input-group .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    user-select: none;
}

.input-group .eye-icon:hover {
    cursor: pointer;
    color: #000;
}

.input-group .forgot-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #4276a7;
    text-decoration: none;
}

.login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4276a7;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #4276a7;
}

.remember-me input {
    margin-right: 5px;
}

.register {
    margin-top: 20px;
    color: #7a7a7a;
}

.register a {
    color: #4CAF50;
    text-decoration: none;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}

.message.error {
    color: red;
}

.message.success {
    color: green;
}

